[Desktop Entry]
Encoding=UTF-8
Name=FlutterCoin
Comment=FlutterCoin P2P Cryptocurrency
Exec=/usr/bin/fluttercoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/fluttercoin-48.png
MimeType=x-scheme-handler/fluttercoin;
Categories=Office;
Name[en_US]=fluttercoin-qt.desktop
